@use '@angular/material' as mat;

$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
    ),
    typography: (
      plain-family: Roboto,
      brand-family: Roboto,
    ),
  )
);

html {
  @include mat.all-component-themes($theme);
}
